Button {
 background-color: rgb(185, 207, 237);
 cursor: pointer;
 border: none;
 border-radius: 5px;
 padding: 10px 20px;
 font-size: 18px;
 white-space: nowrap;
}
.Button_POSITIVE {
 background-color: rgb(100, 201, 100);
 color: rgb(64, 26, 26);
}
.Button_NEGATIVE {
 background-color: rgb(253, 86, 95);
 color: white;
}