#login{
  background-color: aquamarine;
  font-weight: 700;
  color: rgb(122, 21, 21);
  border-bottom: 2px solid black;
}



#logout{
  background-color: aquamarine;
  font-weight: 700;
  color: rgb(122, 21, 21);
  border-bottom: 2px solid black;
}