body{
  padding:  40px;
  margin: 40px;
  border:  2px solid black;
}
.App {
  width: 500px;
  margin: 0 auto;
  border: 2px solid black;
  text-align: center;
  padding: 10px;
}

.controller{
  background-color: darkgray;
  padding: 10px,0px;

} 
.controller button {
  width: 50px;
  height: 30px;
  font-weight: 700;
  margin-right: 10px;
}

